//Colour Palette
//Default text colour, contrasting background 
$nr-black: #1A1D27;
//H1, H2 and selected elements
$dk-blue: #0084DD;
//Unselected elements
$md-blue: #8BC7F0;
//Text on nr-black backgrounds
$lt-blue: #DFF0FB;

//Font
$df-font: Arial;