//Colour Palette
//Default text colour, contrasting background 
$nr-black: #1A1D27;
//H1, H2 and selected elements
$dk-blue: #0084DD;
//Unselected elements
$md-blue: #8BC7F0;
//Text on nr-black backgrounds
$lt-blue: #DFF0FB;

//Font
$df-font: Arial;

/* Global styling */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: $df-font;
    color: $nr-black;
}

h1 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
    color: $dk-blue;
}
h2, h3, h4 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5rem;
}
h3 {
    color: $lt-blue;
}

p {
    margin-bottom: 1em;
    font-size: 1rem;
}

button {
    min-width: 5vw;
    align-self: center;
    margin: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: $nr-black;
    cursor: pointer;
    font-variant: small-caps;
    font-size: 1rem;
    color: $lt-blue;
}
button:hover {
    background-color: $lt-blue;
    color: $nr-black;
}

/* Structure */
html, body {
    width: 100%;
    min-height: 100vh;
}
/* Set scroll to always on */
html {
    overflow-y: scroll;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
        "header header header header header"
        "nav nav nav nav nav"
        "main main main main main"
        "footer footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 9fr auto;
}

/* Header */
#header {
    grid-area: header;
    border-bottom: 3px solid $md-blue;
    background-image: linear-gradient(to left, #C4C4C4, $nr-black 40%);
}

#logo {
    max-width: 100%;
    max-height: 25vh;
    padding: 0.5em 1em;
}

/* Navbar */
#navbar {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    text-align: center;
    background-color: $nr-black;
}

.nav-link {
    margin-bottom: 0.1em;
    padding: 0.2em 0.5em;
    background-color: $md-blue;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

.active, .nav-link:hover {
    background-color: $nr-black;
    color: $md-blue;
}

/* Desktop styling for navbar (horizontal) */
@media screen and (min-width: 768px) {
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-link {
        width: calc(100% / 3.02);
        margin-bottom: 0.1em;
    }
}

/* Main */
#main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

/* Page title area (currently hidden) */
.title {
    grid-column: 5 / 9;
    text-align: center;
    font-size: 10vmin;
}

/* Index page welcome section */
.welcome {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
}

.welcome-header {
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 2px $nr-black;
    padding: 0.25em;
    background-color: $nr-black;
    text-align: center;
    h1 {
        color: $lt-blue;
    }
}

.welcome-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0.5em 0em;
}

.welcome-tile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0.5em 0.5em;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 2px $nr-black;
    background-color: $nr-black;
    text-align: center;
    h2 {
        color: $lt-blue;
    }
}

.welcome-tile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 90%;
    border-radius: 0px 0px 20px 20px;
    padding: 0.25em;
    opacity: 0;
    background-color: $lt-blue;
    text-align: center;
    transition: 0.8s ease;    
}

.tile-header {
    opacity: 0.9;
    background: $lt-blue;
    h2 {
        color: $nr-black;
    }
    transition: 0.8s ease;
}

/* Used to offset animation timing */
#one {
    .welcome-tile-body, .tile-header {
        animation-delay: 2s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    } 
    .welcome-tile-body {
        animation-name: body;
    }
    .tile-header {
        animation-name: head;
    }
}
#two {
    .welcome-tile-body, .tile-header {
        animation-delay: 4s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    } 
    .welcome-tile-body {
        animation-name: body;
    }
    .tile-header {
        animation-name: head;
    }
}
#three {
    .welcome-tile-body, .tile-header {
        animation-delay: 6s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    } 
    .welcome-tile-body {
        animation-name: body;
    }
    .tile-header {
        animation-name: head;
    }
}
/* Animations */
@keyframes head {
    from {background-color: $lt-blue; color: $nr-black;}
    to {background-color: $nr-black; color: $lt-blue;}
}
@keyframes body {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Desktop styling for tiless (horizontal) */
@media screen and (min-width: 768px) {
    .welcome-body {
        flex-direction: row;
    }
    .welcome-tile {
        width: calc(100% / 3.5);
    }
}

/* About page collapsible elements */
.flex-container {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
}

.coll-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.collapsible {
    cursor: pointer;
}

.tile {
    width: 100%;
    margin-bottom: 1em;
    background-color: $md-blue;
    .active {
        background-color: $nr-black;
    }
}

.coll-header {
    display: flex;
    flex-direction: row;
}

.tile-title {
    text-align: center;
    h2 {
        color: $nr-black;
    }
    button {
        margin: 0.5em;
        padding: 0em;
        background: none;
        font-weight: bold;
        font-size: 5vmin;
        color: $nr-black;
    }
}

.coll-left, .coll-right {
    transition: 1s;
}
.coll-left {
    width: 100%;
    background-color: $lt-blue;
}
.coll-right {
    padding: 0.5em;
    background-color: $nr-black;
    font-size: 5vmin;
    color: $lt-blue;
}

.tile-body {
    display: flex;
    flex-direction: column;
    max-height: 0;
    background-color: $md-blue;
    overflow-x: auto;
    transition: max-height 0.5s ease-out;
    ul {
        margin: 2em;
        list-style-position: outside;
        li {
            margin-bottom: 3px;
        }
    } 
    a {
        color: $dk-blue;
    }
    a:hover {
        color:$nr-black;
    }
    table {
        display: block;
        place-self: center;
        max-width: 95%;
        margin: 2em;
        border-collapse: collapse;
        background-color: $lt-blue;
    }
    td, th {
        box-shadow: 0px 0px 1px $nr-black;
        padding: 5px;
        text-align: left;
        font-size: 1rem;
    }
    th {
        text-align: center;
        font-variant: small-caps;
    }
}

.tile-body-content {
    margin: 2em;
}

.coll-header:hover, .selected {
    .coll-left {
        background-color: $nr-black;
        color: $nr-black;
        button {
            background: none;
            color: $lt-blue;
        }
    }
    .coll-right {
        background-color: $lt-blue;
        color: $nr-black;
    }
}

/* Build Page */
/* Data upload form / Data download form */
.build-container {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container, .table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    max-width: 100%;
    width: auto;
    margin: 1em;
    box-shadow: 0px 0px 2px $nr-black;
    border-radius: 5px;
}

.form-header {
    width: 100%;
    border-radius: 5px;
    background-color: $nr-black;
    text-align: center;
    h3 {
        color: $lt-blue;
    }
}

#input {
    display: flex;
    flex-direction: column;
    margin: 0.25em;
    text-align: center;
}

.form-element-title {
    width: 100%;
    background-color: $lt-blue;
    text-align: center;
    font-size: 1rem;
    color: $nr-black;
}

.form-element-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    width: auto;
    margin: 0.5em;
    box-shadow: 0px 0px 2px $nr-black;
    text-align: center;
}

.form-element {
    width: 80%;
    margin: 1em;
    padding: 0.5em;
}

#file-input {
    min-width: 0;
    width: 100%;
    cursor: pointer;
    background-color: $nr-black;
    font-size: 3vmin;
    color: $lt-blue;
}

.radio-container {
    display: inline-block;
}

.custom-radio {
    display: block;
    margin-left: 20px;
    margin: 1em;
    cursor: pointer;
    transform: scale(2.5);
}

/* Results table */
.table-container {
    max-width: 95%;
    min-width: 90vw;
    overflow-x: scroll;
}

#output {
    display: none;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    margin: 0.5em;
    margin-left: 1em;
    text-align: center;   
}

#placeholder {
    min-width: 40%;
    margin: 1em;
    box-shadow: 0px 0px 2px $nr-black;
    border-radius: 5px;
    padding: 2em;
    background-color: $lt-blue;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    color: $nr-black;
}

#results-table {
    display: block;
    max-width: 100%;
    font-size: 1rem;
}

/* "Loading" elements - Flashing elipsis */
@keyframes fetching {
    0% {color: $nr-black;}
    25% {content: "."; color: $lt-blue;}
    50% {content: ".."; color: $lt-blue;}
    75% {content: "..."; color: $lt-blue;}
    100% {color: $nr-black;}
}

.fetching:after {
    /*overflow: hidden;*/
    display: inline-block;
    vertical-align: bottom;
    animation: fetching steps(4,end) 900ms infinite;
    content: ".";
    content: "..";
    content: "...";
    width: 0px;
}

#output td {
    justify-content: center;
    align-items: center;
    border: 1px solid $nr-black;
    padding: 0.5em;
    font-size: 1rem;
}
#output th {
    font-size: 1rem;
}
#output .checkbox {
    border: none;
    vertical-align: middle;
}
#output input[type=checkbox] {
    cursor: pointer;
    transform: scale(1.5);
}
#output td:nth-child(1) {
    background-color: $nr-black;
    color:$lt-blue;
}
.out-col {
    padding: 0.38em;
    padding-bottom: 0.4em;
    background-color: $nr-black;
    color: $lt-blue;
}

/* Data download form */
.select-container {
    margin: 0.5em;
    box-shadow: 0px 0px 2px $nr-black;
    padding: 0.25em;
    background-color: $lt-blue;
    select {
        margin: 0.5em;
        border: 1px solid $nr-black;
        padding: 0.25em;
        cursor: pointer;
        color: $nr-black;
    }
    span {
        font-variant: small-caps;
        font-weight: bold;
        color: $nr-black;
    }
}
.select-container:hover {
    background-color: $nr-black;
    span {
        color: $lt-blue;
    }
}

.plus-minus {
    display: flex;
}

/* Contact Page */
.contact {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-form {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-item {
    width: 70vw;
    margin: 0.5em;
    box-shadow: 0px 0px 2px $nr-black;
    border-radius: 3px;
    padding: 1em;
    font-size: 1rem;
}

/* Message flash */
.success {
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 50%;
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    background-color: rgba(40, 167, 69, 0.3);
    text-align: center;
    color: $nr-black;
}

.error {
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 50%;
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    background-color: rgba(255, 99, 71, 0.6);
    text-align: center;
    color: $nr-black;
}

/* Footer */
#footer {
    grid-area: footer;
    height: 6vh;
    align-items: center;
    padding: 0.25em;
    background-color: $nr-black;
    color: $lt-blue;
}