{% extends "layout.html" %}

{% block title %}
    Build
{% endblock %}

{% block main %}
    <div class="flex-col">
        <h1 class="icon sml">
            {{ lang }}
        </h1>
        <form id="input" class="flex-col">
            <div class="flex-row">
                <div class="md">
                    <section class="tile-title">
                        Upload
                    </section>
                    <input name="file" type="file" value="file" id="actual-btn" hidden/>
                    <label class="tile pointer hover" for="actual-btn">
                        <div id="upload-icon"></div>
                        <p id="file-text" class="hover"></p>
                    </label>            
                </div>
                <div class="md">
                    <section class="tile-title">
                        Translation
                    </section>
                    <section class="tile">
                        <fieldset class="flex-row" name="trans">
                            <input id="off" type="radio" name="trans" value="none" checked hidden>
                            <label for="off" type="radio">
                                <img src="/static/radioN.svg">
                            </label>
                            <input id="on" type="radio" name="trans" value="en" hidden>
                            <label for="on" type="radio">
                                <img src="/static/radioY.svg">
                            </label>
                        </fieldset>
                    </section>
                </div>
            </div>
            <button class="std-btn">Get sentences</button>
        </form>
        <div class="lg">
            <section class="tile-title">
                Sentences
            </section>
            <section class="tile">
                <p id="placeholder-text">Your sentences will appear here.</p>
                <p id="progress" class="fetching" hidden></p>           
                <form id="output">
                    <table id="results-table">
                        <thead>
                            <tr>
                                <th><h3 class="result-header">Word</h3></th>
                                <th><h3 class="result-header">Sentence</h3></th>
                                <th><h3 id="trans"></h3></th>
                                <th><button id="reload-btn" class="std-btn">Reload</button></th>
                            </tr>
                        </thead>
                        <tbody>
                                <!--Populated with Ajax response-->
                        </tbody>
                    </table>
                </form>
            </section>
        </div>
        <form id="download" class="flex-col" action="/download" method="post">
            <div id="fields" class="flex-row">
                <div class="md">
                    <section class="tile-title">
                        Front
                    </section>
                    <section class="tile">
                        <select id="front" name="front">
                            {% for d in data %}
                                {% if d == "sentence" %}
                                    <option value="{{ data[loop.index - 1] }}" selected>{{ data[loop.index - 1].capitalize() }}</option>
                                {% else %}
                                    <option value="{{ data[loop.index - 1] }}">{{ data[loop.index - 1].capitalize() }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </section>
                </div>
                <div class="md">
                    <section class="tile-title">
                        Back
                    </section>    
                    <section class="tile">
                        <select id="back" name="back">
                            {% for d in data %}
                                {% if d == "transcription" %}
                                    <option value="{{ data[loop.index - 1] }}" selected>{{data[loop.index - 1].capitalize() }}</option>
                                {% else %}
                                    <option value="{{ data[loop.index - 1] }}">{{ data[loop.index - 1].capitalize() }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </section>        
                </div>
            </div>
            <div class="flex-row center">
                <button id="add" class="plus-minus-btn">&#43</button>
                <button id="remove" class="plus-minus-btn">&#8722</button>
            </div>
            <button class="std-btn">Download</button>   
        </form>
    </div>
{% endblock %}
