{% extends "layout.html" %}

{% block title %}
    Build
{% endblock %}
    
{% block main %}
    <div class="welcome">
        <!--Page title-->
        <div class="welcome-header">
            <h1>Anki cards in 3 steps...</h1>
        </div>
        <div class="welcome-body">
            <!--Upload step tile-->
            <div id="one" class="welcome-tile">
                <div class="tile-header">
                    <h2 class="tile-header">Upload</h2>
                </div>
                <div class="welcome-tile-body">
                    <p>Upload a vocabulary list</p>
                </div>
            </div>
            <!--Review step tile-->
            <div id="two" class="welcome-tile">
                <div class="tile-header">
                    <h2 class="tile-header">Review</h2>
                </div>
                <div class="welcome-tile-body">
                    <p>Review the example sentences</p>
                </div>
            </div>
            <!--Import step tile-->
            <div id="three" class="welcome-tile">
                <div class="tile-header">
                    <h2 class="tile-header">Import</h2>
                </div>
                <div class="welcome-tile-body">
                    <p>Download and import data into Anki.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}