{% extends "layout.html" %}

{% block title %}
    Build
{% endblock %}
    
{% block main %}
    <h1 hidden>Index</h1>
    <h2 class="title">I'm studying...</h2>
    <div class="flex-row">
        <div class="md">
            <section class="tile-title">
                Japanese
            </section>
            <a id="jp" class="tile hover" href="/build_jp">
                日本語
            </a>
        </div>
        <div class="md">
            <section class="tile-title">
                Mandarin
            </section>
            <a id="cn" class=" tile hover" href="/build_cn">
                中文
            </a>
        </div>
    </div>
{% endblock %}